/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYOPGRAPHY */
*{
    font-family: 'Open Sans' 
}

/* COMMON */
ul{
    list-style: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    
}
li{   
    padding-left: 10px;
    padding-right: 10px;
}
li:not(.Inizia){
    padding-top: 10px;

}
a{
    color: black;
    text-decoration: none;
}
h1{
    font-size: 50px;
    font-weight: 900;
}


/* HEADER */

/* TOPBAR */
header{
    font-size: 16px;
}
.topbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height:100px;
    padding: 20px 5px;
    margin: 10px 0;
    /* position: fixed; */
    background-color: white;
}
.bar-left{
    padding: 10px 0;
    display: flex;
    align-items: center;
   
}
#logo-small{
    position: absolute;
    top: 1px;
    left: 1px;
}

.bar-right{
    padding: 10px;
}
.Inizia{
    background-color: #0061ff;
    color: aliceblue;
    width: 70px;
    height: 33px;
    border: none;
    
}
/* JUMBOTRON */

.jumbotron{
    background-color: #b4d0e7;
    padding-top: 130px;
    /* debug */
    width: 100%;
    text-align: center;
   
}
.h-container{
    text-align: center;
    width: 100%;
}
h1{
    padding: 30px;
}
.sub-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    width: 60vw;
    margin: auto;
  
}
/* COLONNA SINISTRA JUMBO */
.col-left{
    display: flex;
    width: calc(35vw / 2);

}
.jumbo{
    display: inline-block;
    padding: 10px 0;
}
.jumbo>li{
    padding: 16px 0;
}
.fa-arrow-down{
    font-size: 50px;
    padding-left: 50px;
}
/* COLONNA DESTRA JUMBO */
.col-right{
    display: flex;
    width: calc(35vw / 2);
    position: relative;
}
.Jumbo-pic{
    position: absolute;
    top: 27px;
    right: 5px;
    width: 780px;
    height: 452px;
}
